# Build folders
bin/
obj/

# Visual Studio temporary files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# npm
node_modules/

# Logs
*.log

# Local app settings
appsettings.*.json
