<nav class="nav-menu">
    <h2>Payroll UI</h2>
    <ul>
        <li><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink></li>
        <li><NavLink class="nav-link" href="/employees">Employee List</NavLink></li>
        <li><NavLink class="nav-link" href="/employees/create">Create Employee</NavLink></li>
    </ul>
</nav>
