@page "/"
@namespace PayrollApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payroll Dashboard</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/app.css" />
    <!-- DevExpress 25.1 Fluent theme and core styles -->
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Themes.Fluent/core.min.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <!-- DevExpress 25.1 runtime script -->
    <script src="_content/DevExpress.Blazor/modules/dx-blazor-all.js"></script>
</body>
</html>
